#wallets{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 0rem;
}

#top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

#new-wallet{
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    background-color: rgb(46, 46, 117);
}

#search-bar{
    width: 20rem;
    background-color: green;
}

input{
    width: 100%;
}