#sidebar{
    width: 15%;
    height: 100%;
    background-color: rgb(46, 46, 117);
    color: cornsilk;
}

#top{
    text-align: center;
    padding-top: 2rem;
}

#drawer{
    padding-top: 2rem;
}

.drawer-item{
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    border-right: 4px solid white;
}

span{
    margin-left: 5px;
}

.drawer-item:hover{
    cursor: pointer;
}